---
layout: archive
title: "Research"
permalink: /Research/
author_profile: true
---

<p></p>
<h1>Research Grants</h1> 
<ul> 
  <li>PI, “An O2O Flipped Classroom for Students’ Collaboration and Innovation Development”, Teaching Development Grant, HKU, 2020.09-2022.02</li>
  <li>PI, “Operational-Use Reliability Prediction and Optimal Inspection and Maintenance Plan Design for Heterogeneous Charging Piles for Electric Vehicles”, Early Career Scheme,  Research Grants Council of Hong Kong, 2022.01-2025.02</li>
  <li>PI, “A Performance-based Reliability Modelling and Optimization Framework for Photovoltaic Fleets”, General Research Fund, Research Grants Council of Hong Kong, 2024.01-2026.12</li>
  <li>PI, “A Service Reliability Modelling and Profit Optimization Framework for Battery Swapping Stations”, General Research Fund, Research Grants Council of Hong Kong, 2025.01-2027.12</li>
  <li>PI, “A Framework for Self-Service System Profit Maximization: From Service Reliability Modeling to Maintenance Policy Design”, General Research Fund, Research Grants Council of Hong Kong, 2026.01-2028.12</li>
  <li>PI, “Design and Development of a Smart AHU Management System”, Green Energy Engineering Consultancy Limited, 2025.02 - 2027.07</li>
  <li>Deputy Program Coordinator, “nD Blockchain for ESG Reporting”, Innovation and Technology Support Program, Innovation and Technology Fund (ITF), 2021 - 2024</li> 
</ul>

<p></p>
<h1>Publications</h1>
<h2>Reliability Modelling and Testing</h2>
<ul>
  <li>R. Li, Y. Li, and  Y. Cheng*, “A Periodic Fractional Wiener Process for Remaining Useful Life Prediction of Photovoltaic Systems with Long-Range Dependence”, <em>Technometrics</em>, in press. </li>
  <li>Z. Huang, Y. Wei, and Y. Cheng*, “A Quantitative Framework for Performance-based Reliability Prediction for a Multi-Component System Subject to Dynamic Self-Reconfiguration”, <em>Reliability Engineering & System Safety</em>, vol. 262, p. 111188, 2025. </li>
  <li>T. Wu, L. Ma, Y. Cheng, K. Zhang, K. Li, Y. Yang, H. Liu and C. Wang, “Stochastic Modeling of Human Lumbar Functional Spinal Units System Degeneration”, <em>IISE Transactions</em>, vol.57, 2025.</li>
  <li>R. Li, J. Wu, Y. Li, and Y. Cheng, “PeriodNet: Noise-Robust Fault Diagnosis Method under Varying Speed Conditions”, <em>IEEE Transactions on Neural Networks and Learning Systems</em>, vol. 35, no. 10, p. 14045-14059, 2024.</li>
  <li>Y. Wei, Y. Cheng*, and H. Liao, “Fleet Service Reliability Analysis of Self-Service Systems under Failure-Induced Demand Switching and a Two-Dimensional Inspection and Maintenance Policy”, <em>IEEE Transactions on Automation Science and Engineering</em>, vol.22, p. 10029, 2024.</li>
  <li>Y. Cheng, H. Liao and Z. Huang, “Optimal Degradation-based Hybrid Double-Stage Acceptance Sampling Plan for a Heterogeneous Product”, <em>Reliability Engineering & System Safety</em>, vol. 210, p.107544, 2021.</li>
  <li>Y. Cheng and E. A. Elsayed, “Design of Optimal Hybrid Sequential Testing Plans,” <em>IISE Transactions</em>, vol.53, p. 830-841, 2021 (Best Practical Paper).</li>
  <li>Y. Cheng and E. A. Elsayed, “Reliability Modeling and Optimization of Operational Use of One-shot Units,” <em>Reliability Engineering & System Safety</em>, vol. 176, p. 27-36, 2018.</li>
  <li>Y. Cheng and E. A. Elsayed, “Optimal Sequential ALT Plans for Systems with Mixture of One-Shot Units,” <em>IEEE Transactions on Reliability</em>, vol. 66, no. 4, p. 997-1011, 2017.</li>
  <li>Y. Cheng and E. A. Elsayed, “Reliability Modeling of Mixtures of One-shot Units under Thermal Cyclic Stresses,” <em>Reliability Engineering & System Safety</em>, vol. 167, p. 58-66, Nov. 2017.</li>
  <li>Y. Cheng and E. A. Elsayed, “Reliability Modeling and Prediction of Systems with Mixture of Units,” <em>IEEE Transactions on Reliability</em>, vol. 65, no. 2, p. 914-928, Jun. 2015.</li>
  <li>R. Li, Y. Li, and  Y. Cheng*, “Seasonal-Trend Orthogonal Gaussian Process for Photovoltaic Performance Loss Rate Assessment”, <em>IISE Transactions</em>, under revision. </li>
</ul>



<h2>Maintenance Policy Design</h2>
<ul>
     <li>Y. Wei, S. Zhao, and Y. Cheng*, "An Optimal Multi-Level Inspection and Maintenance Policy for a Multi-Component System: An Enhanced Successively Approximated Point-Based Value-Iteration Algorithm", <em>Engineering Management</em>, accepted.</li>
    <li>Y. Wei, S. Zhao, and Y. Cheng*, “An Optimal Joint Predictive Maintenance and Mission Abort Policy Under a Cumulative Working Time Success Criterion”, <em>Risk Analysis</em>, in press.</li>
    <li>Y. Wei, H. Liao, and Y. Cheng*, “Making an Optimal Inspection-free Maintenance Decision for a System Subject to Hidden Malfunctions”, <em>IISE Transactions</em>, in press.</li>
    <li>S. Zhao, Y. Wei, Y. Li and Y. Cheng*, “An Optimal Joint Maintenance and Mission Abort Policy for a System Executing Multi-Attempt Missions”, <em>Reliability Engineering & System Safety</em>, vol. 266(A), p.111667, 2026. </li>
    <li>S. Zhao, Y. Wei, Y. Li, and Y. Cheng*, “A Multi-Agent Reinforcement Learning (MARL) Framework for Designing an Optimal State-Specific Hybrid Maintenance Policy for a Series k-out-of-n Load-Sharing System”, <em>Reliability Engineering & System Safety</em>, vol. 265(A), p. 111587, 2026. </li>
    <li>Y. Wei, A. Li, Y. Li, and Y. Cheng*, “An Optimal Predictive Inspection and Maintenance Policy for a Multi-State System Subject to Self-Announcing Failures: A Belief-based SMDP Approach”, <em>Reliability Engineering & System Safety</em>, vol. 265(B), p.111497, 2026</li>
    <li>Y. Wei, Y. Cheng*, and H. Liao, “A Quantitative Maintenance Policy Development Framework for a Fleet of Self-Service Systems”, <em>Naval Research Logistics</em>, vol.52, no. 5, 750-767, 2025.</li>
    <li>S. Zhao, Y. Wei, Y. Cheng* and Y. Li, “A State-Specific Joint Size, Maintenance, and Inventory Policy for a k-out-of-n Load-Sharing System Subject to Self-Announcing Failures”, <em>Reliability Engineering & System Safety</em>, vol. 257(B), p. 110855, 2025.</li>
    <li>Y. Wei, A. Li, Y. Cheng* and Y. Li, “An Optimal Multi-Level Inspection and Maintenance Policy for a Multi-Component System with a Protection Component”, <em>Computers & Industrial Engineering</em>, vol. 201, p. 110898, 2025.</li>
    <li>Y. Wei and Y. Cheng*, “An Optimal Two-Dimensional Maintenance Policy for Self-Service Systems with Multi-Task Demands and Subject to Competing Sudden and Deterioration-Induced Failures”, <em>Reliability Engineering & System Safety</em>, vol. 255, p. 110628, 2025.</li>
    <li>Y. Cheng, Y. Wei and H. Liao, “Optimal Sampling-based Sequential Inspection and Maintenance Plans for a Heterogeneous Product with Competing Failure Modes”, <em>Reliability Engineering & System Safety</em>, vol. 218, p.108181, 2022.</li>
     <li>Y. Wei, S. Zhao, G. Liu, Y. Cheng and Y. Li, “An Optimal Condition-Based Maintenance Policy for a Multi-Component Coherent System with Multiple Malfunction Levels”, <em>Annals of Operations Research</em>, under revision.</li>
    <li>Y. Wei, S. Zhao, Y. Cheng, H. Liao, “Maintenance Enhancement for a Fleet of Self-Service Systems Using Customer Incentives”, <em>IEEE Transactions on Engineering Management</em>, under revision.</li>
   <li>A. Li, Y. Wei*, Y. Cheng, “Group Inspection and Maintenance Policy Design for a System with Multiple Heterogeneous Components”, <em>Computers & Industrial Engineering</em>, under revision.</li>
</ul>

<h2>Resilience Modelling and Optimization</h2>
<ul>
  <li>Y. Wei, Y. Cheng, and H. Liao, “Optimal Maintenance of a Critical Infrastructure subject to Dependent Recurrent Hazards”, <em>Sustainable and Resilient Infrastructure</em>, in press.</li>
  <li>Y. Wei, Y. Cheng*, H. Liao, and E. A. Elsayed, “Resilience Modeling for an Engineered Network with Multimodal Performance under Multiple Recurrent Hazards”, <em>Reliability Engineering & System Safety</em>, vol. 266(A), p.111640, 2026.</li>
  <li>Y. Wei, Y. Cheng*, and H. Liao, “Optimal Resilience-Based Restoration of a System Subject to Recurrent Dependent Hazards”, <em>Reliability Engineering & System Safety</em>, vol. 247, p. 110137, 2024.</li>
  <li>Y. Cheng, H. Liao, and E. Elsayed, “From Reliability to Resilience: More Than Just Taking One Step Further”, <em>IEEE Transactions on Reliability</em>, vol. 73, no. 1, p. 42-46, 2024.</li>
  <li>C. Zou, Y. Cheng*, and J. Wang, “The Impact of the Variability of Patient Flow and Service Time on the Efficiency of Large-scale Outpatient Systems", <em>IEEE Transactions on Computational Social Systems</em>, vol. 10, no.3, p. 1230-1240, 2023.</li>
  <li>J. Wang, Y. Gao, and Y. Cheng, “On Time-Dependent Critical Platforms and Tracks in Metro Systems,” <em>Transportation Science</em>, vol. 56, no. 4, p. 953-971, 2022.</li>
  <li>C. Zou, J. Wang, and Y. Cheng*, “Critical Department Analysis for Large-Scale Outpatient Systems”, <em>IEEE Transactions on Computational Social Systems</em>, vol. 10, no. 6, p. 3194-3203, 2022</li>
  <li>Y. Cheng, E. A. Elsayed, and Z. Huang, "Systems resilience assessments: a review, framework and metrics", <em>International Journal of Production Research</em>, vol. 60, no. 2, p. 595-622, 2022.</li>
  <li>Y. Gao, J. Wang, S. Gao and Y. Cheng*, “An Integrated Robust Design and Robust Control Strategy using the Genetic Algorithm”, <em>IEEE Transactions on Industrial Informatics</em>, vol. 17, no. 12, p. 8378-8386, 2021.</li>
  <li>Y. Cheng and E. A. Elsayed, “Random Multi-Hazard Resilience Modeling of Engineered Systems and Critical Infrastructures,” <em>Reliability Engineering & System Safety</em>, vol. 209, p.107453, 2021.</li>
  <li>Y. Cheng, J. Wang, and Y. Wang, “A User-based Bike Rebalancing Strategy for Free-Floating Bike Sharing Systems: A Bidding Model,” <em>Transportation Research Part E: Logistics and Transportation Review</em>, vol. 154, p. 102438, 2021.</li>
</ul>

{% if site.author.googlescholar %}
  <div class="wordwrap">You can find my articles on <a href="{{site.author.googlescholar}}">my Google Scholar profile</a>.</div>
{% endif %}


  
<p></p>
<h1>My Research Group</h1>
<ul>
  <li>
    <strong> Lingyu Guo </strong> (2025-) <br>
    The University of Hong Kong, M.Sc. in Data Science <br>
    Beihang University, B.Eng. in Software Engineering<br>
    <strong>Research Interests:</strong> Deep Reinforcement Learning, Data Analytics
  </li>
</ul>
<ul>
  <li>
    <strong> Yi Luo </strong> (2025-) <br>
    Tianjin University, M.Mgt. in Management Science and Engineering <br>
    Tianjin University, B.Mgt. in Industrial Engineering<br>
    <strong>Research Interests:</strong> Reliability Engineering, Markov Decision Process
  </li>
</ul>
<ul>
  <li>
    <strong> Ruixian Li </strong> (2022-) <br>
    Shanghai Jiao Tong University, M.Sc. in Mechanical Engineering <br>
    Shanghai Jiao Tong University, B.Eng. in Industrial Engineering <br>
    <strong>Research Interests:</strong> Interpretable Deep Learning, Applied Statistical Modeling, Bayesian Data Analytics
  </li>
</ul>
<ul>
  <li>
    <strong>Ge Li </strong> (2022-) <br>
    The University of Hong Kong, M.Sc. in Energy Engineering  <br>
    Huazhong University of Science and Technology, B.Eng. in Energy and Power Engineering <br>
    <strong>Research Interests:</strong> Reliability Engineering
  </li>
</ul>
<ul>
  <li>
    <strong> Anchi Li </strong> (2021-) <br>
    Nanyang Technological University, M.Sc. in Communication Engineering <br>
    Southeast University, B.Eng. in Electrical Engineering and Automation <br>
    <strong>Research Interests:</strong> Reliability Engineering
  </li>
</ul>
<ul>
  <li>
    <strong>Sangqi Zhao</strong> (2021-2025) <br>
    University of Science and Technology of China, B.S. in Statistics <br>
    <strong>Research Interests:</strong> Deep Reinforcement Learning, Markov Decision Process 
    <strong>Current placement:</strong> Postdoctoral Researcher, The University of Hong Kong 
  </li>
</ul>
<ul>
  <li>
    <strong><a href="https://yianwei-em.github.io/" target="_blank">Yian Wei</a></strong>(2020-2024) <br>
    Beihang University, M.Sc. in Mechanical Engineering <br>
    Beihang University, B.Eng. in Mechanical Engineering <br>
    <strong>Research Interests:</strong>  Reliability Engineering, Resilient Engineering, Reinforcement Learning <br>
    <strong>Current placement:</strong> Assistant Professor, City University of Hong Kong (Dongguan)
  </li>
</ul>
<ul>
  <li>
    <strong>Zhiyi Huang</strong> (2019-2023) <br>
    Northwestern Polytechnical University, M.Sc.<br>
    Northwestern Polytechnical University, B.Eng.<br>
    <strong>Research Interests:</strong> Reliability Engineering <br>
    <strong>Current placement:</strong> Postdoctoral Researcher, The University of Hong Kong
  </li>
</ul>
<ul>
  <li>
    <strong>Yijia Wang</strong> (2017-2021) <br>
    Jilin University, B.Eng.<br>
    <strong>Research Interests:</strong> Optimization decision-making in smart agricultural production management, Water-soil-machinery coupling mechanisms and coordinated control <br>
    <strong>Current placement:</strong> Professor, NSFC Excellent Young Scientists Fund (Overseas) Program, Northeast Agricultural University
  </li>
</ul>



{% include base_path %}
